#!/usr/bin/make -f
# -*- makefile -*-

DEB_PYTHON_SYSTEM = pysupport
DEB_SRCDIR = $(CURDIR)/src

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_PYTHON_BUILD_ARGS = --disable-SMESH -j6

DEB_PYTHON_INSTALL_ARGS_ALL = --disable-SMESH

