.newsitem {
}

.newsitem .headline {
    font-weight: bold;
}

.newsitem p {
    margin-top: 0;
}

code {
    color: green;
    font-weight: bold;
    font-family: monospace;
}

#page {
    margin: 2em;

    /*width: 60%;
    margin-left: 20%;*/

    border: solid 1px #000;
    padding: 1em;

    text-align: justify;
    background-color: #f5f5f5;
}

h1 {
    border-bottom: dashed 1px #000;
}

p {
    font-family: Georgia, Palatino, Times, serif;
    line-height: 150%;
    /*font-size: 90%;*/
}

.literal-block {
    background-color: #fbfbfb;
    padding: 1em;
}

.figure {
    text-align: center;
}